* {
  background-color: #f7efe5;
}

.App {
  text-align: center;
}

h1 {
  font-size: 60px;
  color: #674188;
  text-decoration: underline;
}

h2 {
  font-size: 40px;
  color: #a47798;
}

.inputBox {
  width: 30%;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  background-color: #e2bfd9;
  font-size: 20px;
}

.result {
  font-size: 20px;
}
